.form__field.form__field--name
  legend.form__field-title Cardholder Name
  label.form__field-label(for="firstName")
    input.form__field-input(type="text" id="firstName" name="firstName" placeholder="First Name")
  label.form__field-label(for="lastName")
    input.form__field-input(type="text" id="lastname" name="lastName" placeholder="Last Name")