.form__cards
  img.form__cards-img(src="img/card-visa.svg", alt="Visa")
  img.form__cards-img(src="img/master-card.svg", alt="Master Card")
  img.form__cards-img(src="img/discover-card.svg", alt="Discover")
  img.form__cards-img(src="img/AmericanExpress-card.svg", alt="American Express")