.form__inner
  include ./form-cards.pug
  include ./form-name.pug
  include ./form-cardnumber.pug
  include ./form-date.pug
  include ./form-cvv.pug
  include ./form-code.pug
  include ./form-paypall.pug
  include ./form-btn.pug