.form__field.form__field--cvv
  h2.form__field-title CVV/CVC
  label.form__field-cvv.form__field-label(for="cvv")
    img.form__field-tips(src="img/question-mark.svg", alt="question-mark")
    .form__help
      .form__help-item
        img(src="img/masterCard.png", alt="Master Card")
        h3.form__help-title <span class="bold">Visa, MasterCard</span> 3-Digit Verification Number
      .form__help-item
        img(src="img/AmericanExpress.png", alt="American Express")
        h3.form__help-title <span class="bold">American Express</span> 4-Digit Verification Number
    .form__help-overlay

    input.form__field-input(type="text" id="cvv" name="cvv" maxlength="4" placeholder="XXXX")