.form__field.form__field--cardNumber
  legend.form__field-title Card Number
  label.form__field-label(for="cardNumber")
    input.form__field-input(type="text" id="cardNumber" name="cardNumber" maxlength="20" placeholder="⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁")