.form__field.form__field--code
  legend.form__field-title 
    | Zip<span class="mobile__hid">/Postal</span> Code
  label.form__field-label(for="code")
    input.form__field-input(type="text" id="code" name="code" maxlength="5" placeholder="01001")