<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="utf-8")
		title FrontEnd test
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(name="format-detection" content="telephone=no")
		link(rel='stylesheet' href='css/main.css')
	body
		main.main
			section.form
				include components/title/title.pug
				include components/form/form-cards.pug
				include components/form/form-name.pug
				include components/form/form-cardnumber.pug
				include components/form/form-date.pug
				include components/form/form-cvv.pug
				include components/form/form-code.pug
				include components/form/form-paypall.pug
				include components/form/form-btn.pug


		script(src='js/main.js')
